body{
	background-color: #34495e;
	font-family: 'Lora', serif;
}
.TeamCard{
	background-color: #fff;
	height: 450px;
	width: 300px;
	margin: 40px;
	border-radius: 10px;
	box-shadow: 5px 5px 15px 10px #262626;
}

.upper{
	height: 150px;
	width: 300px;
	background-color: #f3ac14;
	border-radius: 10px 10px 0 0;
}

.imgAboutUs{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	position: relative;
	top: 80px;
	left: 70px;
	border: 4px solid #fff;
	outline: none;

}

h2{
	color: #404040;
	text-align: center;
	position: relative;
	top: 70px;
}



.social{
	position: relative;
	top: 150px;
	left: 50px;

}

.social i{
	display: flex;
	justify-content: space-between;
	color: #f7ae04;

}
a{
    text-decoration: none;
    color: #ede5e5;
}
a{
    text-decoration: none;
    color: #ede5e5;
}
a:hover{
    color:rgb(93, 11, 11)
}

a:active{
    color: blue;
}
  
  .AboutUs_h1{
    display: flex;
    justify-content: center;
  }
  .all{
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    align-content: center;
  }
  .AboutUs_h5 {
    font-size: 25px;
    text-align: center !important;
    margin-left: 5%;
    margin-right: 5%;
    border: solid;
    border: 20%;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    border-color: rgb(0, 0, 0);
    padding: 3%;
    background-color: #ccc;
    
  }
  .h3AboutUs{
    color: black;
	text-align: center;
	position: relative;
	top: 100px;
  }
  .h4AboutUs{
    color: black;
	text-align: center;
	position: relative;
	top: 120px;
  }