#visitList-SingleCard img {
    width: 100%;
    overflow: hidden;
    height: 200px;
    object-fit: cover;
    
}

.visitListCard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 25px 8%;
    text-decoration: none;
    width: 100%;
    height: auto;
    margin: auto;
    gap: 20px;
    background-color: #2f2f2f;
    --bs-card-border-width: 0px;
}
.CardNamePP{
    font-weight: 600;
    font-size: 30px;
}
.card-body {
    background-color: rgb(179, 161, 43);
}
.card-body {
    font-size: 20px;
    padding: 6px 24px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    background-color: rgb(108 108 105);
    text-align: center;
}
.card {
    width: 100%;
    border: none !important;
    overflow: hidden;
    border-radius: 5%;
}
textarea.form-control {
    margin-bottom: 25px;
}
#visitList-SingleCard {
    margin: auto;
    flex-direction: column;
    border-radius: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 1450px){
    .visitListCard{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 1200px){
    .visitListCard{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 750px){
    .visitListCard{
        grid-template-columns: 1fr;
    }
}
/* @media screen and (max-width: 450px){
    .cards{
        grid-template-columns: 1fr;
    }
} */
