.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* justify-content: space-around; */
    /* flex-wrap: wrap; */
    padding: 2%;
    text-decoration: none;
    width: 80vw;
    height: 2500px;
    margin: auto;
    gap: 20px;
    background-color: rgba(16, 15, 15, 0.108);
    /* top: 0; */
    right: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.54;
    text-align: center;
  }
  
  img {
    width: 80%;
    height: auto;
    border-radius: 5%;
  }
  
  
  /* UTILITY CLASSES */
  .container {
    max-width: 1200px;
    padding: 10rem;
    margin: auto;
    overflow: hidden;
  }
  
  .btn {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 700;
    color: #fff;
    margin-top: 4rem;
    text-align: center;
    display: inline-block;
    padding: .6rem 1.5rem;
    border-radius: 3px;
    background-color: var(--primary-color);
    transition: all .5s ease-in-out;
  }
  
  .btn:hover {
    background-color: #44586e;
  }
  
@media screen and (max-width: 850px){
    .cards{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 850px) {
    /* body {
        width: 100%;
    } */
    .projects-div{
        grid-template-columns: 1fr;
        margin: auto;
    }
    .projects-grid{
        margin: auto;
        background-color:#303841;
        border-radius: 5px;
        width: 600px;
        height: 500px;
    }
    
  }


  