.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* justify-content: space-around; */
    /* flex-wrap: wrap; */
    padding: 25px 8%;
    text-decoration: none;
    width: 100%;
    height: auto;
    margin: auto;
    gap: 20px;
    background-color: rgba(16, 15, 15, 0.108);
    /* top: 0; */
    right: 0;
}

@media screen and (max-width: 1450px){
    .cards{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 1200px){
    .cards{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 750px){
    .cards{
        grid-template-columns: 1fr;
    }
}
/* @media screen and (max-width: 450px){
    .cards{
        grid-template-columns: 1fr;
    }
} */


  